# Copie este arquivo para .env e preencha os valores
MONGO_URI=mongodb+srv://USUARIO:SENHA@cluster0.xxxxx.mongodb.net/pam-ecommerce?retryWrites=true&w=majority
PORT=5000
FRONTEND_URL=https://pamshop.vercel.app
